<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %> 

<body>
    <style>
        body {
            overflow: auto;
            text-align: center;
            margin: 20px;
        }
        </style>

    <%- include("../partials/header.ejs") %> 
    <main>
        <h4>Add a new insect</h4>

        Enter data in each field and/or leave in default prefilled data.

        <form action="/insects" method="POST">

        <b>Image URL: (Imgur URL) <input type="text" name="image" value="https://i.imgur.com/EAcJy5a.png" /><br>

        Family: <input type="text" name="family" value="Unidentified Family" /><br>
        Genus: <input type="text" name="genus" value="Unidentified Genus" /><br>
        Species: <input type="text" name="species" value="Unidentified Sp." /><br>

        Lifestage: <input type="text" name="lifestage" value="Lifestage TBD" /><br>
        Collected Location: <input type="text" name="location" value="Location TBD" /><br>
        Collection Date: <input type="date" name="date" placeholder="Date" /><br>

        Notes: </b><input type="text" name="notes" value="" />
        <br><br>
        <div class="buttonsdiv">
        <input class="inputbutton" type="submit" value="Add New Insect" />
    </form>
    <form>
    <input class="inputbutton" type="button" value="Back" onclick="history.back()">
    </form>
    </div>
    </main>

</body>

</html>