<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %> 

<body>
    <style>
        body {
            overflow: auto;
            text-align: center;
            margin: 20px;
        }
        </style>

    <%- include("../partials/header.ejs") %> 
    <main>
        <h4>Add a new insect</h4>

        <form action="/insects" method="POST">

        <b>Image URL: (Imgur URL) <input type="text" name="image" placeholder="Image url" /><br>

        Family: <input type="text" name="family" placeholder="Family" /><br>
        Genus: <input type="text" name="genus" placeholder="Genus" /><br>
        Species: <input type="text" name="species" placeholder="Sp." /><br>

        Lifestage: <input type="text" name="lifestage" placeholder="Lifestage" /><br>
        Collected Location: <input type="text" name="location" placeholder="Location/Coordinates" /><br>
        Collection Date: <input type="date" name="date" placeholder="Date" /><br>

        Notes: </b><input type="text" name="notes" placeholder="Notes" /><br><br>
            <div id="buttonsdiv">
        <input class="inputbutton" type="submit" value="Add New Insect" />
        <a href="/insects"><button>Back</button></a>
            </div>
        </form>
    </main>

</body>

</html>