<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %> 

<body>
    <%- include("../partials/header.ejs") %> 
    <main>
        <h2>Add a new insect</h2>

        <form action="/insects" method="POST">

        Image URL: (Imgur URL) <input type="text" name="image" placeholder="Image url" /><br><br>

        Family: <input type="text" name="family" placeholder="Family" /><br>
        Genus: <input type="text" name="genus" placeholder="Genus" /><br>
        Species: <input type="text" name="species" placeholder="Sp." /><br><br>

        Lifestage: <input type="text" name="lifestage" placeholder="Lifestage" /><br>
        Collected Location: <input type="text" name="location" placeholder="Location/Coordinates" /><br>
        Collection Date: <input type="date" name="date" placeholder="Date" /><br><br>

        Notes: <textarea 
        type="text"
        name="notes"
        value="<%= insect.notes %>"
        placeholder="Notes"
        rows="3" cols="30"></textarea><br><br>

        <input type="submit" value="Add New Insect" />
        </form>
    </main>

</body>

</html>