<!DOCTYPE html>
<html lang="en">
<style>
body {
    background-image: url("insectsillustration.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}
</style>
    <%- include("./partials/head.ejs") %> 

<body>
    <div class="index">
        <img src="https://i.imgur.com/EAcJy5a.png" style="height: 20%; width: 20%; padding-top: 20px;">
    <%- include("./partials/header.ejs") %> 


    <a href="/insects"><button>Login</button></a>
    <a href="/insects"><button>Sign Up</button></a>
    </div>

</body>

</html>