@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');

body {
    background-image: url("insectsillustration.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

.index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 40%;
    text-align: center;
    background-color: rgb(184, 185, 171, 0.92);
    padding: 1em;
    border-radius: 1em;
}

h1 {
    font-family: 'Inknut Antiqua', serif;
    font-size: 3em;
    text-transform: uppercase;
    color: #41382f;
    letter-spacing: -0.13em;
    padding: 0px;
    margin: 0px;
}