@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&family=Roboto:wght@300&display=swap');

body {
    background-color: #ebecdb;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

.index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 40%;
    text-align: center;
    background-color: rgb(184, 185, 171, 0.92);
    padding: 1em;
    border-radius: 1em;
}

h1 {
    font-family: 'Inknut Antiqua', serif;
    font-size: 4em;
    text-transform: uppercase;
    color: #41382f;
    letter-spacing: -0.13em;
    padding: 0px;
    margin: 0px;
}

button {
    font-family: 'Roboto', sans-serif;
    color: #ebecdb;
    background-color: #ad8142;
    border: none;
    padding: 25px;
    font-size: 1.5em;
    margin: 10px;
    transition-duration: 0.4s;
    border-radius: 1em;
}

button:hover {
    cursor: pointer;
    background-color: #41382f;
}

.container {
    height: auto;
    overflow: hidden;
  }
  .left {
    width: 20em;
    height: 100vh;
    float: left;
    margin: 0;
    padding: 0;
    background-image: url("insectsillustration.jpg");
  }
  .right {
    width: auto;
    overflow: hidden;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }